.JobsListing {
  display: grid;
  grid-row-gap: 60px;
  width: 100%;
  margin: 0 auto;

  &.with-filter {
    margin-top: 126px;
  }

  @include large {
    grid-row-gap: 30px;
    width: 100%;
  }

  @include medium {
    width: 100%;
  }
}
